---
import { Image } from "astro:assets";
import Music from "../components/arts/music.astro";
import Layout from "../layouts/Layout.astro";
import SubZero from "../components/arts/subzero.astro";
import SingleNote from "../../public/musicnote.svg";
import DoubleNote from "../../public/doublenote.svg";
import StarIcon from "../../public/starIcon.svg";
import LinkedIn from "../../public/linkendinIcon.svg";
import Mail from "../../public/mailIcon.svg";
import Github from "../../public/github.svg";
---

<Layout title="home">
  <div>
    <section class="bg-wrapper">
      <section class="title-wrap">
        <div class="title-head">
          <div class="header-txt">
            <h1>CSS</h1>
            <h1>CREATIONS</h1>
            <p class="headersubtext">Unlocking the fun part of CSS!!!</p>
            <div class="link-buttons">
              <div class="btn">
                <button>
                  <a href="/cssarts" aria-label="website link">
                    <p class="btntext1">View Css Arts</p>
                    <p class="btntext2">View Css Arts</p>
                  </a>
                </button>
              </div>
              <button>View other Projects</button>
            </div>
          </div>
          <div class="musicart">
            <div class="css-art">
              <Music />
            </div>
            <p>Credits: illustration by @daviowhite</p>
            <span class="music-icon1">
              <Image src={SingleNote} alt="a single music note icon" />
            </span>
            <span class="music-icon2">
              <Image src={DoubleNote} alt="a double music note icon" /></span
            >
            <span class="music-icon3">
              <Image
                src="https://img.icons8.com/ios-filled/50/treble-clef.png"
                alt="treble clef icon"
                width={50}
                height={50}
              />
            </span>
            <span class="staricon1">
              <Image src={StarIcon} alt="a double music note icon" />
            </span>
            <span class="staricon2">
              <Image src={StarIcon} alt="a double music note icon" />
            </span>
            <!-- <span class="staricon3">
            <Image src={StarIcon} alt="a double music note icon" />
          </span> -->
          </div>
        </div>
      </section>
    </section>
    <footer class="footer">
      <!-- <p>Authored by olajide seun</p> -->
      <div class="footer-icons">
        <a>
          <Image src={LinkedIn} alt="a double music note icon" width={40} height={40} />
          <span></span>
        </a>
        <a>
          <Image src={Github} alt="a double music note icon" width={40} height={40} />
          <span></span>
        </a>
        <a>
          <Image src={Mail} alt="a double music note icon" width={40} height={40} />
          <span></span>
        </a>
      </div>
    </footer>
  </div>
</Layout>

<style>
  .bg-wrapper {
    width: 100vw;
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(12, calc(100vw / 12));
    grid-template-rows: repeat(6, calc(100vw / 12));
    background-size: calc(100vw / 12) calc(100vw / 12);
    /* background-image: linear-gradient(white, white); */
    background-image: linear-gradient(to right, #f8f8f8 1px, transparent 1px),
      linear-gradient(to bottom, #f4f4f4 1px, transparent 1px);
    z-index: -1;
  }
  .title-wrap {
    position: relative;
  }

  .header-txt {
    width: 50%;
    margin-left: 100px;
  }

  .title-head {
    /* transform: translate(-50%, -100%); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: multiply;
  }

  .headersubtext {
    font-size: 20px;
    margin-top: 16px;
  }

  .link-buttons {
    display: flex;
    gap: 20px;
    margin-top: 2rem;
  }

  .link-buttons .btn {
    display: flex;
    flex-flow: column;
  }

  .link-buttons .btn > button {
    padding: 16px 18px;
    border-radius: 9999px;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }

  .link-buttons .btn > button:hover a p:nth-child(1) {
    transform: translateY(-100px);
    text-wrap: nowrap;
    transition: transform 1s ease-in-out;
  }

  .link-buttons .btn > button:hover a p:nth-child(2) {
    transform: translateY(0px);
    text-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .link-buttons .btn > button a {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
  }

  .link-buttons .btn > button a p:nth-child(1) {
    transform: translateY(0px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    font-weight: 600;
  }

  .link-buttons .btn > button a p:nth-child(2) {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  .link-buttons > button {
    padding: 16px 18px;
    border-radius: 9999px;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
  }

  .link-buttons button:nth-child(1) {
    background-color: #0086b3;
    color: white;
  }

  .link-buttons button:nth-child(2) {
    background-color: salmon;
    color: white;
  }

  .title-head h1 {
    font-size: clamp(2.5rem, 7vw, 7rem);
    margin:;
    color: black;
    background-clip: text;
    background-color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .musicart {
    position: relative;
    pointer-events: none;
  }

  .musicart > .css-art {
    border-radius: 0 0 999px 999px;
    overflow: hidden;
  }

  .musicart > p:first-of-type {
    text-align: center;
    font-style: italic;
    color: gray;
    font-size: 12px;
  }

  .music-icon1,
  .music-icon2,
  .music-icon3,
  .staricon1,
  .staricon2,
  .staricon3 {
    position: absolute;
  }

  .music-icon1 {
    transform: scale(3) translate(50px, 50px);
    animation: musicnotes 3s linear infinite;
    top: 0;
    left: 0;
  }

  .music-icon2 {
    transform: scale(3) translate(100px, 40px);
    z-index: -1;
    animation: musicnotes2 3s 300ms linear infinite;
    top: 0rem;
    left: 3rem;
  }

  .music-icon3 {
    transform: scale(2) translate(150px, 0px);
    z-index: -1;
    animation: musicnotes3 2.5s 300ms linear infinite;
    top: 12rem;
    left: 0;
  }

  .staricon1 {
    bottom: 10rem;
    left: 5rem;
    animation: starburst 3s linear infinite;
  }

  .staricon2 {
    top: 12rem;
    right: 10rem;
    animation: starburst 3s 1000ms linear infinite;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-icons {
    padding: 8px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    gap: 8px;
    position: relative;
  }

  .footer-icons a {
    border-radius: 10px;
    display: inline-block;
    padding: 2px;
    background-color: white;
    place-content: center;
    place-items: center;
    z-index: 1;
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }

  .footer-icons a > span {
    position: absolute;
    bottom: 0;
    left: 40%;
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 999px;
    z-index: -1;
  }

  .footer-icons a:hover > span {
    transform: translateY(20px);
    transition:
      transform,
      0.5s ease-in-out;
  }

  .footer-icons a:hover {
    transform: translateY(-20px);
    background-color: white;
    display: flex;
    transition: transform 0.5s ease-in-out;
    outline: 3px solid black;
  }

  @media screen and (max-width: 800px) {
    .title-head {
      /* transform: translate(-50%, -100%); */

      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }

    .header-txt {
      width: 100%;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
    }

    .link-buttons .btn {
      display: flex;
      flex-flow: column;
    }

    .link-buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 2rem;
    }
    .link-buttons .btn > button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title-head h1,
    .title-head p {
      display: flex;
      justify-content: center;
    }

    .footer-icons {
      margin-top: 30px;
    }
  }

  @keyframes musicnotes {
    to {
      transform: scale(0) translate(0, 0);
    }
  }

  @keyframes musicnotes2 {
    to {
      transform: scale(0) translate(150px, 0);
    }
  }

  @keyframes musicnotes3 {
    to {
      transform: scale(0) translate(0px, 0);
    }
  }

  @keyframes starburst {
    0%,
    100% {
      transform: scale(0.3);
    }

    50% {
      transform: scale(1.5);
    }
  }
</style>

<script>
  const gridContainer = document.querySelector(".bg-wrapper");

  for (let i = 0; i <= 144; i++) {
    const gridItem = document.createElement("div");
    gridItem.classList.add("gridItem");

    gridContainer?.appendChild(gridItem);
  }

  function addRandomBoxShadow(numOfItems: number) {
    const items = document.querySelectorAll(".gridItem");

    const totalItems = items.length;

    numOfItems = Math.min(numOfItems, totalItems);

    const randomIndices: Set<number> = new Set();

    while (randomIndices.size < numOfItems) {
      const randomIndex = Math.floor(Math.random() * totalItems);
      randomIndices.add(randomIndex);
    }

    for (let index of randomIndices) {
      items[index].classList.add("shadow");
      items[index].setAttribute("style", "  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08)");
    }
  }

  addRandomBoxShadow(50);
</script>
